<main>
  <div class="close-button">
    <button mat-icon-button color="warn" mat-dialog-close>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="grid mt-3">
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-plus-circle"></i>
        </span>
        <input type="number" [(ngModel)]="qno" pInputText placeholder="Question Number" />
      </div>
    </div>
    <div class="col-12 text-center">
      <button mat-flat-button color="primary" (click)="addNewQuestion()">
        Add
      </button>
    </div>
  </div>
</main>
